apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 62.7.0 # ok atual; pode mudar depois
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    grafana:
      adminPassword: admin  # homelab; troque depois se quiser
      service:
        type: ClusterIP
    prometheus:
      service:
        type: ClusterIP
    alertmanager:
      service:
        type: ClusterIP