apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - apps/monitoring
  - apps/dashboard
  - flux/helmrepositories.yaml
  - storage/local-path/helmrelease.yaml
  #- monitoring/kube-prometheus-stack.yaml
  - kubernetes-dashboard/helmrelease.yaml