apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - apps/monitoring
  - apps/dashboard
  - flux/helmrepositories.yaml
  - flux/rancher-lpp-repo.yaml
  - ingress/metallb/helmrepo.yaml
  - ingress/metallb/helmrelease.yaml
  - ingress/metallb/pool.yaml
  - ingress/traefik/helmrepo.yaml
  - ingress/traefik/helmrelease.yaml
  - ingress/ingress-grafana.yaml
  - ingress/ingress-dashboard.yaml
  - storage/local-path/helmrelease.yaml
  #- monitoring/kube-prometheus-stack.yaml
